[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
utensil = "==0.0.1a1"
pandas = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
scikit-learn = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.8"
